<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<!-- <p class="pull-left"><small><a href="/about" title="About this site">About this site</a></small></p> -->
			<p><small>&copy; hieule 2016</small></p>
		</div>

		<div class="col-sm-4">
			<div class="row online-icon pull-right">
				<a href="https://www.linkedin.com/in/hieule16" target="_blank"><img src="http://hieule22.github.io/img/linkedin.png" width="19"></a>
				<a href="https://github.com/hieule22" target="_blank"><img src="http://hieule22.github.io/img/github.png" width="20"></a>
				<a href="https://www.facebook.com/letrunghieu.fb" target="_blank"><img src="http://hieule22.github.io/img/facebook.png" width="20"></a>
				<a href="https://https://www.codechef.com/users/domhieu" target="_blank"><img src="http://hieule22.github.io/img/codechef.png" width="20"></a>
				<a href="http://codeforces.com/profile/domhieu" target="_blank"><img src="http://hieule22.github.io/img/cf.png" width="20"></a>
			</div>
		</div>
	</div>
</div> <!-- /footer -->
