<!DOCTYPE html>
<html>
  <head>
    <title> {{ page.title }} </title>
    <!-- Link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  
  <body>
    <nav>
      <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/About"> About </a></li>
        <li><a href="/resu/160529.pdf"> Resume </a></li>
        <li><a href="/Blog"> Blog </a></li>
      </ul>
    </nav>
    
    <div class="container">
      {{ content }}
    </div>
    
    <footer>
      <ul>
        <li><a href="mailto:trunghieule94@gmail.com"> Email </a></li>
        <li><a href="https://github.com/hieule22"> My GitHub Repository </a></li>
      </ul>
    </footer>
  </body>
</html>
